/* CSS Document */

html{
	scroll-behavior: smooth;
}






body{
	margin: 0px;
	font-family:'comic sans ms', sans-serif;
	text-align: center;
	background: linear-gradient(45deg,lightcoral,lightgreen);
	
		
}
h1{
	font-family:'Castellar' ,sans-serif;
	font-size: 45px;
	text-shadow: 0 0 10px black;
	font-weight: border;
}
table{
	width: 100%;
}
h2{
	background:linear-gradient(45deg, black, darkred, black);
	width:50%;
	color: white;
	 margin: auto;
	padding: 10px;
	border-radius:60% 60% 0% 0%;
	border-bottom:5px solid white;

}
img{
	width: 270px;
	height:160px;
	border-radius: 20px;
	box-shadow: 0 0 10px;
}
img.main{
	width: 400px;
	height:270px;
}